$background-color: #fff;
$border-color: #ccc;
$hover-color: #eee;
$header-color: #999;
$text-color: #000;
$font-family: inherit;

.suggestion-box {
  color: $text-color;
  display: none;
  font-family: $font-family;
  border: 1px solid $border-color;
  border-top: 0;
  background: $background-color;
  padding: 0;
  margin: 0 10px 0 0;
  z-index: 1;

  .no-suggestions {
    padding: 10px;
  }

  > ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;

    > li {
      padding: 0;
      margin: 0;

       > a {
        display: block;
        height: 100%;
        color: inherit;
        text-decoration: none;
        padding: 10px;

         > img {
           margin-right:10px;
           width: 20px;
         }
      }
    }
  }

  .selected {
    background-color: $hover-color;
  }
}

#suggestion-box-typeahead
{
    position: relative;
}

#suggestion-box-typeahead::after
{
    position: absolute;
    left: 13px;
    top: 7px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.5;
    z-index: 1;
}
